<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<style>
	.main {

	}
	.title-email {
		color: #27AAF0;
	}

	.btn-confirm {
		padding: 8px 16px;
		border: 1px solid #68C2E8;
		background-color: #27AAF0;
		color: #fff;
		font-weight: 300;
		text-decoration: none;
	}
</style>
</head>
<body>
<div class="main">
	<img src="cid:logoEQuiz.png"  alt="logo-Equiz"/>
	<h2 class="title-email">Xác nhận quên mật khẩu</h2>
	<p>Xin chào ${param1}</p>
	<p>Hệ thống đã ghi nhận yêu cầu thay đổi mật khẩu do quên mật khẩu cũ của bạn.</p>
	<p>Để xác thực yêu cầu đổi mật khẩu mới, vui lòng xác nhận email này.</p>
	<a class="btn-confirm" href="${param2}">Xác nhận</a>
	<p>Trân trọng,</p>
	<p style="font-weight: bold">EQuiz Education.</p>
	<a href="https://www.equiz.vn">www.equiz.vn</a>
</div>

</body>
</html>